@charset "utf-8";

@page {
  margin: 1cm 2cm;
}

h1,
p {
  break-inside: avoid;
}

h2 {
  break-before: always;
}

img {
  max-width: 100%;
  page-break-inside: avoid;
}

nav {
  display: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
