@charset "utf-8";

@media (orientation: landscape) {
  :root {
    --content-size: 100vh;
  }
}

@media (orientation: portrait) {
  :root {
    --content-size: 100vw;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: MistyRose;
    --color: Black;
    --link-color: #6d071a;
    --shadow-color: White;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: DarkRed;
    --color: White;
    --link-color: #e37f98;
    --shadow-color: Black;
  }
}

:root {
  --font-size-2: calc(var(--content-size)/26);
  --font-size-1: calc(var(--content-size)/32);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size-1);
  text-shadow: var(--shadow-color) .08em .08em;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: var(--font-size-1) var(--font-size-2);
  padding: 0;
}

a,
q {
  color: var(--link-color);
}

table:not(.squares) th,
table:not(.squares) td {
  border: 1px solid var(--shadow-color);
  padding: 0 .2em;
}
